<%= form_with(model: materiel) do |form| %>
  <% if materiel.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(materiel.errors.count, "error") %> prohibited this materiel from being saved:</h2>

      <ul>
        <% materiel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :mat_type, style: "display: block" %>
    <%= form.text_field :mat_type %>
  </div>

  <div>
    <%= form.label :nom, style: "display: block" %>
    <%= form.text_field :nom %>
  </div>

    <div class="mt-3" >
    <%= form.submit class: "btn btn-outline-primary" %>
  </div>
<% end %>
